.filter__wrapper {
    max-width: 326px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    &-title {
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        font-weight: 400;
        margin-right: 35px;
    }
    &-buttons {
        width: 234px;
        display: flex;
        justify-content: space-between;
    }
    &-btn {
        width: 75px;
        height: 30px;
        background: #fff;
        border: none;
        border-radius: 4px;
        box-shadow: 4px 4px 20px 0px #00000040;
        cursor: pointer;
        transition: .3s all;

        &:hover {
            background-color: #d1d1d1;
            transform: translateY(-3px);
            box-shadow: 4px 8px 30px 0 rgba(0, 0, 0, 0.35);
        }

        &:active,
        &.active {
            background-color: #a0a0a0;
            transform: translateY(0);
            box-shadow: 4px 8px 30px 0 rgba(0, 0, 0, 0.35);
        }
    }
}

@media (max-width: 400px) {
    .filter__wrapper {
        &-title {
            margin-right: 10px;
        }
    }
}